<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="css/header.css" />
<link rel="stylesheet" href="css/list.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
<script>
	function search() {
		let searchText = document.getElementById("searchText").value;
		location.href = "/?searchText=" + searchText;
	}
	</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>메인페이지</title>
</head>

<body>
	<!-- header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="header-container">



		<section class="notice">
			<div class="page-title">
				<div id="board1">
					<h2>게시판 리스트</h2>
				</div>
			</div>

			<div class="board-container">
				<!-- board seach area -->
				<div id="board-search">
					<div class="search-window">
						<div class="search-wrap">
							<input id="searchText" type="search" name="searchText" placeholder="검색">
							<button type="button" onclick="search()" class="btn search-btn">검색</button>
						</div>
					</div>
				</div>

				<!-- board list area -->

				<table class="board-table">
					<thead>
						<tr class="mainTitle">
							<th scope="col" class="th-num">번호</th>
							<th scope="col" class="th-title">제목</th>
							<th scope="col" class="th-writer">글쓴이</th>
							<th scope="col" class="th-date">날짜</th>
							<th scope="col" class="th-hit">조회수</th>
						</tr>
					</thead>
				
					<tbody>
						<th:block  th:each="board, boardsStat: ${boards}" >
							<tr th:if="${boards}" th:onclick="|location.href='@{/board/read(board_id=${board.board_id})}'|" style="cursor:pointer;" 
										class="hover likeRanking">
								<td  th:text="${boardsStat.count}"></td>
								<th th:text="${board.title}"
									id="title"></th>
								<td th:text="${board.member_id}" class="center"></td>
								<td
									th:text="${#temporals.format(board.created_time, 'yyyy-MM-dd')}"></td>
								<td th:text="${board.hit}"></td>
							</tr>
						</th:block>
					
					
						<tr th:if="${boards.empty}">
							<td class="color" colspan="6">글이 없습니다.</td>
						</tr>
					</tbody>
				</table>


				<div class="write-btn">
					<input
						th:if="${loginMember}" class="input-btn" type="button"
						onclick="location.href='/board/write'" th:value="글쓰기" >
				</div>
			</div>
		</section>

		<p>
		<div id="navigator" class="pageNumber" >
			<!-- 前のグループがない場合は表示しない -->
			<th:block th:if="${navi.currentPage - navi.pagePerGroup > 0}">
				<a
					th:href="@{/(page=${navi.currentPage - navi.pagePerGroup}, searchText=${searchText})}" style="color:black"><<</a>&nbsp;&nbsp;
    		</th:block>
			<th:block th:if="${navi.currentPage - 1 > 0}">
				<a
					th:href="@{/(page=${navi.currentPage - 1}, searchText=${searchText})}" style="color:black"><</a>&nbsp;&nbsp;
    		</th:block>

			<th:block th:if="${navi.endPageGroup ne 0}">
				<th:block
					th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
					<a
						th:href="@{/(page=${counter}, searchText=${searchText})}"
						th:text="${counter}" style="color:black"></a>&nbsp;
      		</th:block>
			</th:block>

			<!-- 次のページがない場合は表示しない -->
			<th:block th:if="${navi.currentPage < navi.totalPageCount}">
				<a
					th:href="@{/(page=${navi.currentPage + 1}, searchText=${searchText})}" style="color:black">></a>&nbsp;&nbsp;
    		</th:block>
			<th:block
				th:if="${navi.currentPage + navi.pagePerGroup < navi.totalPageCount}">
				<a
					th:href="@{/(page=${navi.currentPage + navi.pagePerGroup}, searchText=${searchText})}" style="color:black">>></a>
			</th:block>
		</div>
		<p>
	</div>
	
	
	
	
</body>
</html>